@use "./variables.scss";

.MovieCard {
  transition: scale ease-in-out 0.5s;
  position: relative;
  max-width: 300px;

  &__type {
    padding: 5px 10px;
    background: variables.$card-button-bg-color;
    border-radius: 6px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: yellow;
    font-size: 12px;
  }

  &__details {
    background: variables.$card-bg-color;
    width: 100%;
    padding-inline: 1.5rem;
    padding-block: 1.5rem 1rem;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    text-align: start;

    h3 {
      font-size: 16px;
      padding-bottom: 5px;
    }
  }

  img {
    border-radius: 15px;
    max-width: 300px;
  }
  &:hover {
    scale: 1.05;

    &__details {
      display: block;
    }
  }
}

@media screen and (min-width: variables.$md) {
  .MovieCard {
    max-width: 250px;

    img {
      max-width: 250px;
    }
  }
}
