@use "../src/components/variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-inline: 2rem;
  padding-block: 2rem;
  justify-content: center;
  align-items: center;
  background-color: variables.$bg-color;
}
